// Body
$bg-light: #ffffff;
 
$bg-primary : #f4f4f4;
$Degradado: radial-gradient(circle, #06033d, #121676);

// Colors
$primary: #373cc4;
$primary-opacity: #3035ace0;
$secundary: #2a2ea0;
$white: #ffffff;
$black : #000000;
$text-color-opacity: rgba(21, 100, 137, 0.45);
$text-white : #fff;

$bg-color-opacity : rgba(21, 100, 137, 0.15);
$bg-color-opactity-md : rgba(21, 100, 137, 0.4);
$bg-color-opactity-lg : rgba(21, 100, 137, 0.6);

// Inputs
$input-bg: #b3c9e93b;

// Borders Colors
$border-primary: rgba(21, 100, 137, 0.45);

// Typography
$font-family-sans-serif: 'Poppins', 'monserrat';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Images
$image-login: '/public/images/banner_login_2.webp';

// Color card 
$bg-container: #eeeeee;