
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
//@import "@fortawesome/fontawesome-free/css/all.css";




// SideBar Component Styles
.sideBar-custom{
    width: 280px;
    height: 100vh;
    position: fixed;
    background-color: #24344B;
}

.bg-primary-custom{
    background-color: #24344B;
}

.title-sideBar-custom{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding: 1rem 0 1rem 1rem;
}

.subtitle-sideBar-custom{
    color: #969CA7;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
    
}



.hamburger-menu{
    width: 35px ;
    height: 35px;
    cursor: pointer;
}

.border-custom{
    border-bottom: 2px solid #3B4F6A;
}

.title-nav-custom{
    font-size: 1.1rem;
}

.text-sm-custom{
    font-size: 1rem;
}

.color-header-nav{
    color: #69788F;
}

.link-custom-nav{
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}

.link-custom-nav:hover{
    background-color: #3B4F6A;
}

.border-custom-sublinks{
    border-left: 3px solid #3B4F6A;
}



/* Information Perfil */
.avatar{
    width: 45px;
    height: 40px;
    border-radius: 50%;
    background-color: #3B4F6A;
    display: grid;
    place-content: center;
    color: #fff;
}

.name-user{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
}
.more-options-users{
    color: #969CA7;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
}

.cursor-pointer-custom{
    cursor: pointer;
}

.bg-secondary-custom{
    background-color: #3B4F6A;
    color: #fff;
}

.hover-custom{
    transition: all 0.3s ease-in-out;
}
.hover-custom:hover{
    background-color: #4b6586;
}