/*
   Estilos de los colores de los botones
*/
@import "variables";

.button-save {
    border: 2px solid #27548a !important; /* Grosor y color */
    border-style: solid dotted solid dotted; /* Estilo de cada lado */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Color del texto */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.button-save:hover,
.button-save:focus {
    background-color: #27548a;
    color: white;
    border-color: #27548a; /* Cambio de color del borde en hover */
}

.button-cancel {
    border: 2px solid #ce802c !important; /* Grosor y color */
    border-style: solid dotted solid dotted; /* Estilo de cada lado */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Color del texto */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.button-cancel:hover,
.button-cancel:focus {
    background-color: #ce802c;
    color: white;
    border-color: #ce802c; /* Cambio de color del borde en hover */
}

.button-add {
    border: 2px solid #2f9ada !important; /* Grosor y color */
    border-style: solid dotted solid dotted; /* Estilo de cada lado */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Color del texto */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.button-add:hover,
.button-add:focus {
    background-color: #2f9ada;
    color: white;
    border-color: #2f9ada; /* Cambio de color del borde en hover */
}

.button-eliminar {
    border: 2px solid #a50808d8 !important; /* Grosor y color */
    border-style: solid dotted solid dotted; /* Estilo de cada lado */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Color del texto */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.button-eliminar:hover,
.button-eliminar:focus {
    background-color: #a50808d8;
    color: white;
    border-color: #a50808d8; /* Cambio de color del borde en hover */
}

.button-details {
    border: 2px solid #006a71 !important; /* Grosor y color */
    border-style: solid dotted solid dotted; /* Estilo de cada lado */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Color del texto */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.button-details:hover,
.button-details:focus {
    background-color: #006a71;
    color: white;
    border-color: #006a71; /* Cambio de color del borde en hover */
}

.button-edit {
    border: 2px solid #336d82 !important; /* Grosor y color */
    border-style: solid dotted solid dotted; /* Estilo de cada lado */
    padding: 8px 16px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: transparent; /* Fondo transparente */
    color: black; /* Color del texto */
    transition: all 0.3s ease-in-out; /* Animación suave */
}

.button-edit:hover,
.button-edit:focus {
    background-color: #336d82;
    color: white;
    border-color: #336d82; /* Cambio de color del borde en hover */
}

.button-white{
    //.button-white:hover{
    color: white;
    
}

.button-white:hover,
.button-white:focus {
    color: white;
}
