/*
    Sombra de la card 
*/
.card {
    -webkit-box-shadow: -4px 11px 26px -16px rgba(115, 115, 115, 1);
    -moz-box-shadow: -4px 11px 26px -16px rgba(115, 115, 115, 1);
    box-shadow: -4px 11px 26px -16px rgba(115, 115, 115, 1);
}

.card-1 {
    border-left: 5px solid #007F73 !important;
}

.card-2 {
    background-color: #fde5e5 !important;
}
.card-3 {
    background-color: #f3fae8 !important;
}

.card-4 {
     border-left: 5px solid #A8BBA3 !important;
}

.card-male {
     border-left: 5px solid #476EAE !important;
}

.card-female {
     border-left: 5px solid #E45A92 !important;
}


.card-proximos {
     border-left: 5px solid #ED775A !important;
}

.card-expirados {
     border-left: 5px solid #E43636 !important;
}



/* Establecer un tamaño para el texto */
.text-cont {
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    // height: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Icono de la card 
*/
.icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Circulo donde esta el icono
*/
.rounded-icon {
    color: #3b3b3b;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*
    Cuando se coloca el cursor encima 
*/
.rounded-icon:hover,
.rounded-icon:focus {
    transform: scale(1.2); /* Aumenta de tamaño */
    cursor: pointer;
}
 