.loading{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.7;
    display: none;
}

.loading.active{
    display: grid;
    place-content: center;

}

.loader .disable{
    display: none;
  }

.loader  {
   width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#0fabf3 92%,#6d0e0e00);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

.container.loading {
  display: none;
}

@keyframes l7 {to{transform: rotate(.5turn)}}